{% load static %}
{% load custom_tags %}
<html>
<head>
    {% include 'head.html' %}
	<script src="{% static 'global_assets/js/plugins/ui/fullcalendar/core/main.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/ui/fullcalendar/daygrid/main.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/ui/fullcalendar/timegrid/main.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/ui/fullcalendar/list/main.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/ui/fullcalendar/interaction/main.min.js' %}"></script>

	<script src="{% static 'assets/js/app.js' %}"></script>
	<!-- <script src="{% static 'global_assets/js/demo_pages/fullcalendar_basic.js' %}"></script> -->

</head>
<body>
    {% include 'header.html' %}
<br/>

<!-- <h2 align="center"><a href="#">title</a></h2> -->
<br/>
<div class="container">
   <div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Agenda view</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>
					
					<div class="card-body">
						<p class="mb-3">FullCalendar has a number of different "views", or ways of displaying days and events. The following 5 views are all built in to FullCalendar: <code>dayGridMonth</code>, <code>dayGridWeek</code>, <code>dayGridDay</code>, <code>timeGridWeek</code>, <code>timeGridDay</code>. You can define header buttons to allow the user to switch between them. Also you can set the initial view of the calendar with the defaultView option. The following example demonstrates <code>timeGrid</code> views.</p>

						<div  class="fullcalendar-agenda"></div>
					</div>
				</div>
</div>


<script>
    /* ------------------------------------------------------------------------------
 *
 *  # Fullcalendar basic options
 *
 *  Demo JS code for extra_fullcalendar_views.html and extra_fullcalendar_styling.html pages
 *
 * ---------------------------------------------------------------------------- */


//    eventClick: function (event) {
                    if (confirm("Are you sure you want to remove it?")) {
                        var id = event.id;
                        $.ajax({
                            type: "GET",
                            url: '/remove',
                            data: {'id': id},
                            dataType: "json",
                            success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                alert('Event Removed');
                                window.onload = timedRefresh(500);
                            },
                            failure: function (data) {
                                alert('There is a problem!!!');
                            }
                        });
                    }
                },
// ------------------------------

var FullCalendarBasic = function() {


    //
    // Setup module components
    //

    // Basic calendar
    var _componentFullCalendarBasic = function() {
        if (typeof FullCalendar == 'undefined') {
            console.warn('Warning - Fullcalendar files are not loaded.');
            return;
        }

        // Add demo events
        // Add demo events
        // ------------------------------

        // Default events
        var events = [
                             {% for event in events %}
                        {
                            title: "{{ event.name}}",
                            start: '{{ event.start|modify_name:"first_name"}}',
                            end: '{{ event.end|modify_name:"first_name" }}',
                            id: '{{ event.id }}',
                        },
                    {% endfor %}
           
            
           
        ];


        // Initialization
        // ------------------------------

        //
        // Basic view
        //

        // Define element
     


        //
        // Agenda view
        //

        // Define element
        var calendarAgendaViewElement = document.querySelector('.fullcalendar-agenda');

        // Initialize
        if(calendarAgendaViewElement) {
            var calendarAgendaViewInit = new FullCalendar.Calendar(calendarAgendaViewElement, {
                plugins: [ 'dayGrid', 'timeGrid', 'interaction' ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                defaultDate: '2020-11-12',
                defaultView: 'timeGridWeek',
                editable: true,
               
                events: events,
                select: function (start, end, allDay) {
                    var title = prompt("Enter Event Title");
                    if (title) {
                        var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                        var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                        $.ajax({
                            type: "GET",
                            url: '/add_event',
                            data: {'title': title, 'start': start, 'end': end},
                            dataType: "json",
                            success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                alert("Added Successfully");
                            },
                            failure: function (data) {
                                alert('There is a problem!!!');
                            }
                        });
                    }
                },
                eventResize: function (event) {
                    strDateTime = event.event.start
                    var myDate = new Date(strDateTime);
                    alert(myDate.toLocaleString('en-CA'));
                    //var startx = $.fullCalendar.formatDate(myDate, "Y-MM-DD HH:mm:ss");
                    //   alert(startx);
                    
                  //  var end = $.fullCalendar.formatDate(event.event.end, "Y-MM-DD HH:mm:ss");
                    var title = event.event.title;
                    var id = event.event.id;
                    $.ajax({
                        type: "GET",
                        url: '/update',
                        data: {'title': title, 'start': start, 'end': end, 'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event Update');
                        },
                        failure: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },

                eventDrop: function (event) {
                    var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        url: '/update',
                        data: {'title': title, 'start': start, 'end': end, 'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event Update');
                        },
                        failure: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },

                eventClick: function (event) {
                    if (confirm("Are you sure you want to remove it?")) {
                        var id = event.id;
                        $.ajax({
                            type: "GET",
                            url: '/remove',
                            data: {'id': id},
                            dataType: "json",
                            success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                alert('Event Removed');
                            },
                            failure: function (data) {
                                alert('There is a problem!!!');
                            }
                        });
                    }
                },
            }).render();
        }


        //
        // List view
        //

        // Define element
       
    };


    //
    // Return objects assigned to module
    //

    return {
        init: function() {
            _componentFullCalendarBasic();
        }
    }
}();


// Initialize module
// ------------------------------

document.addEventListener('DOMContentLoaded', function() {
    FullCalendarBasic.init();
 
});

</script>


 




</body>
</html>