{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>


{% endif %}


{% if messages %}
								<div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                                     {% for message in messages %}
									<span class="font-weight-semibold">Oh snap!</span> Change a few things up and <a href="#" class="alert-link">try submitting again</a>.
 {% endfor %}

                                </div>
                                
                                {% endif %}